@model System.Collections.Generic.List<Trupanion.Pets.Web.Models.PetOwnerViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h3>Home</h3>
    <div class="list-group">
        <a href="@Url.Action("Index", "Policies")" class="list-group-item">View Policies</a>
    </div>
</div>
